body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin: 0px;    
}
h1, h3 {
    color: red;
}
label {
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
}
input[type="text"], input[type="email"], select {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.area {
    height: 300px;
    width: 400px;
}




tr:nth-child(even) {
    background-color: white;
}


